/*==========  Gray colors  ==========*/
/*=====  Light colors  ======*/
/*==========  Brand-colors  ==========*/
/*==========  social links colors  ==========*/
/*--------------------------------------------------------------
Dark CSS
--------------------------------------------------------------*/
/*
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
}
*/

body {
	color: #cccccc;
}

[dir] body {
	background-color: #151515;
}

#colormag__site-description {
	color: #fff;
}

[dir] #colormag__page, [dir] #colormag__header-text-nav-container, [dir] .news-bar, [dir] #colormag__main, [dir] #colormag__secondary .widget {
	background-color: #1A1A1A;
}

[dir] .news-bar {
	background-color: #1e1e1e;
}

[dir] .main-small-navigation li {
	background-color: #232323;
}

.main-small-navigation a {
	color: #fff;
}

.date-in-header {
	color: #cccccc;
}

.breaking-news-latest {
	color: #fff;
}

[dir] .search-form-top {
	background-color: #121212;
	border: 0 none;
}

[dir] .widget_featured_posts .single-article {
	background: none;
	box-shadow: 0 0 0 0 transparent;
}

.widget_featured_posts .article-content .entry-title a {
	color: #fff;
}

.widget_featured_posts .article-content .below-entry-meta .posted-on .fa,
.widget_featured_posts .article-content .below-entry-meta .byline .fa,
.widget_featured_posts .article-content .below-entry-meta .comments .fa {
	color: #a6a6a6;
}

.posted-on a,
.byline a,
.comments a {
	color: #a6a6a6;
}

.comments span {
	color: #a6a6a6;
}

[dir] .thumbnail-slider {
	border-color: #1A1A1A;
}

[dir] #comments {
	border-color: #444444;
}

#colormag__content .post .article-content .entry-title a {
	color: #fff;
}

#colormag__content .post .article-content .below-entry-meta .byline .fa,
#colormag__content .post .article-content .below-entry-meta .comments .fa,
#colormag__content .post .article-content .below-entry-meta .tag-links .fa,
#colormag__content .post .article-content .below-entry-meta .edit-link .fa,
#colormag__content .post .article-content .below-entry-meta .posted-on .fa,
#colormag__content .post .article-content .below-entry-meta .post-views .fa {
	color: #a6a6a6;
}

#colormag__content .post .article-content .below-entry-meta .post-views span {
	color: #a6a6a6;
}

#colormag__content .post .article-content .below-entry-meta .edit-link a {
	color: #a6a6a6;
}

.single-related-posts .article-content .entry-title a {
	color: #fff;
}

.single-related-posts .article-content .below-entry-meta .posted-on .fa,
.single-related-posts .article-content .below-entry-meta .comments .fa {
	color: #a6a6a6;
}

.post .entry-title a,
.search .entry-title a {
	color: #fff;
}

[dir] .random_posts_widget_inner_wrap, [dir] .single-related-posts {
	box-shadow: 0 0 0 0 transparent;
}

[dir] .footer-widgets-wrapper, [dir] .footer-socket-wrapper {
	border-top: 0 none;
	background-color: #121212;
}

[dir] #colormag__colophon .tg-upper-footer-widgets .widget {
	border: 0 none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
.comment-content {
	color: #cccccc;
}

[dir] input[type="text"], [dir] input[type="email"], [dir] input[type="password"], [dir] textarea, [dir] .comment-content {
	background-color: #1A1A1A;
	border-color: #777777;
}

[dir] .view-all-link {
	background: #1A1A1A;
}

[dir] #colormag__header.colormag-header-clean .main-navigation .sub-menu, [dir] #colormag__header.colormag-header-clean .main-navigation .children {
	background-color: #212529;
}

[dir] #colormag__header.colormag-header-clean .main-small-navigation li {
	background-color: #212529;
}

#colormag__header.colormag-header-clean .breaking-news .newsticker a,
#colormag__header.colormag-header-clean .social-links i.fa, #colormag__header.colormag-header-classic .breaking-news .newsticker a,
#colormag__header.colormag-header-classic .social-links i.fa {
	color: #cccccc;
}

[dir] #colormag__header.colormag-header-classic .is-sticky #colormag__site-navigation {
	background-color: #212529;
}

[dir] #colormag__header.colormag-header-classic .is-sticky .main-small-navigation li {
	background-color: #212529;
}

[dir] #colormag__header.colormag-header-classic #colormag__site-navigation .menu-toggle {
	border-color: #cccccc;
}

#colormag__header.colormag-header-classic #colormag__site-navigation .menu-toggle::before {
	color: #cccccc;
}

[dir] #colormag__header.colormag-header-classic #colormag__site-navigation.main-navigation ul ul.sub-menu, [dir] #colormag__header.colormag-header-classic #colormag__site-navigation.main-navigation ul .children {
	background-color: #212529;
	border-color: #444444;
}

[dir] #colormag__header.colormag-header-classic #colormag__site-navigation.main-navigation ul ul.sub-menu li, [dir] #colormag__header.colormag-header-classic #colormag__site-navigation.main-navigation ul .children li {
	border-color: #444444;
}

#colormag__header.colormag-header-classic #colormag__site-navigation.main-navigation a,
#colormag__header.colormag-header-classic #colormag__site-navigation.main-navigation .random-post a .fa-random,
#colormag__header.colormag-header-classic #colormag__site-navigation.main-navigation .home-icon .fa {
	color: #fff;
}

#colormag__header.colormag-header-classic #colormag__site-navigation.main-small-navigation .random-post a .fa-random,
#colormag__header.colormag-header-classic #colormag__site-navigation .fa.search-top {
	color: #fff;
}

[dir] .colormag-footer--classic .footer-widgets-wrapper {
	background-color: #161616;
}

[dir] .colormag-footer--classic .footer-socket-wrapper {
	background-color: #121212;
}

.elementor .tg-module-wrapper {
	color: #cccccc;
}

.elementor .tg-module-wrapper .tg-module-title {
	color: #fff;
}

.elementor .tg-module-wrapper .tg-module-meta .tg-post-auther-name a,
.elementor .tg-module-wrapper .tg-module-meta .tg-post-auther-name span,
.elementor .tg-module-wrapper .tg-module-meta .tg-post-date a,
.elementor .tg-module-wrapper .tg-module-meta .tg-post-date span,
.elementor .tg-module-wrapper .tg-module-meta .tg-module-comments a,
.elementor .tg-module-wrapper .tg-module-meta .tg-module-comments span {
	color: #a6a6a6;
}

/*--------------------------------------------------------------
DOKUWIKI STUFF
--------------------------------------------------------------*/

#dw__toc a {
    color: #fff !important;
}

[dir] #colormag__pagetools .tools ul:hover {
    background-color: #151515;
}